body {
  display: flex;
  justify-content: center;
}

#card {
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  transition: all 0.6s;
}

.face {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  border-radius: 10px;
}

#front {
  background-color: rgb(120, 202, 212);
  transform: rotateY(180deg);
}

#back {
  background-color: rgb(81, 138, 146);
}

.flip {
  transform: rotateY(180deg);
}
