#load {
  width: 20px;
  height: 20px;
  border: 10px solid;
  border-radius: 50%;
  border-top-color: rgb(127, 178, 250);
  margin: 0 auto;
  color: rgb(189, 204, 224);
  animation: load 0.6s linear infinite;
}

@keyframes load {
  to {
    transform: rotate(360deg);
  }
}
